/* Macro class */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

header {
  height: 80vh;
  background-image: linear-gradient(black, black), url(../img/eyes-bg.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: saturation;
}

a {
  cursor: pointer;
  text-transform: uppercase;
  transition: ease-in-out 500ms;
}

a:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.05);
  z-index: 1;
}

img {
  width: 100%;
}

/* Text Style */
h1 {
  font-size: 54px;
  font-weight: 700;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

span {
  font-size: 14px;
  font-weight: 300;
}

p{
  widows: 3;
}

.width-600{
  max-width: 600px;
  margin: auto;
}

/* DEBUG */

.red {
  background-color: red;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Nav Bar */
.nav {
  position: fixed;
  margin-top: 0;
  width: 100%;
  background-color: #282828;
  z-index: 100;
}

.logo {
  height: 90px;
  width: auto;
  padding: 10px;
  transition: ease-in-out 500ms;
}

.logo:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.2);
}

.nav li {
  display: inline-block;
  padding: 15px;
}
.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* .nav-link:focus,
.nav-link:active {
  background-color: red;
} */

/* Work */

.center {
  text-align: center;
  margin-top: 60px;
}

.text-div span {
  padding-right: 10px;
  padding-left: 10px;
}

.top-margin30 {
  margin-top: 30px;
}

.top-margin60 {
  margin-top: 60px;
}

/* Images */

.my-images {
  height: 300px;
  position: relative;
}

.hover-div {
  opacity: 0;
  text-align: center;
  padding-top: 100px;
}

.hover-div:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.landscape1 {
  background-image: url(../img/landscape-city.jpg);
  background-position: center;
  background-size: cover;
}

.landscape2 {
  background-image: url(../img/landscape-mountain.jpg);
  background-position: center;
  background-size: cover;
}

.landscape3 {
  background-image: url(../img/landscape-valley.jpg);
  background-position: center;
  background-size: cover;
}

.portrait1 {
  background-image: url(../img/portrait-man.jpg);
  background-position: center;
  background-size: cover;
}

.portrait2 {
  background-image: url(../img/portrait-shorthair-woman.jpg);
  background-position: center;
  background-size: cover;
}

.portrait3 {
  background-image: url(../img/portrait-curlyhair-woman.jpg);
  background-position: center;
  background-size: cover;
}

.night1 {
  background-image: url(../img/night-cloud.jpg);
  background-position: center;
  background-size: cover;
}

.night2 {
  background-image: url(../img/night-fireworks.jpg);
  background-position: center;
  background-size: cover;
}

.night3 {
  background-image: url(../img/night-jungle.jpg);
  background-position: center;
  background-size: cover;
}

/* About section */

#about{
  background-color: #282828;
  color: white;
}

.everyday {
  background-image: url(../img/everydayLife.jpg);
  background-position: center;
  background-size: cover;
}

.inspiration {
  background-image: url(../img/inspiration.jpg);
  background-position: top;
  background-size: cover;
}


/* Contact */
#contact{
  background-color: #282828;
  color: white;
}

.icons{
  width: 30px;
  margin: 10px 5px;
}

.aline{
  display: inline-block;
}



/* ---- JQUERY ---- */

/* TABLET */
@media screen and (max-width: 767px){
  .nav li {
    margin-top: 20px;
    padding: 0;
  }

  .nav-link{
    padding: 10px;
  }
}
